{% extends 'base.html' %}

{% block content %}
    <h1>Melody Mementos</h1>

    <h5>Name: {{nama}}</h5>


    <h5>Class: {{kelas}}</h5>


    <p>Kamu menyimpan <b>{{jumlah_item}}</b> item pada aplikasi ini</p>

    <table>
        <tr>
            <th>Name</th>
            <th>Amount</th>
            <th></th>
            <th></th>
            <th></th>
            <th>Artist</th>
            <th>Description</th>
        </tr>

        {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}

        {% for item in items %}
            <tr>
                <td>{{item.name}}</td>
                <td>{{item.amount}}</td>
                <td><a href="increase/{{item.pk}}/"><button>+</button></a></td>
                <td><a href="decrease/{{item.pk}}/"><button>-</button></a></td>
                <td><a href="remove_all/{{item.pk}}/"><button>Delete</button></a></td>
                <td>{{item.artist}}</td>
                <td>{{item.description}}</td>
            </tr>
        {% endfor %}
    </table>

    <br />

    <h5>Sesi terakhir login: {{ last_login }}</h5>
    <a href="{% url 'main:create_product' %}">
        <button>
            Add New Item
        </button>
    </a>

    <a href="{% url 'main:logout' %}">
        <button>
            Logout
        </button>
    </a>

{% endblock content %}